<!DOCTYPE html>
<html>
<head>
<title>IO Versions</title>
<%- include('partial/bootstrapIncludes') %>
</head>

<body>
<%- include('partial/header'); %>

<div class="container-fluid">
    <h1>Applications</h1>
</div>

<%- include('partial/footer') %>
</body>

</html>