<div class="j-danger-alert fixed-bottom alert alert-danger" role="alert" style="display: none;">
    <h4 class="alert-heading j-alert-title">Request error!</h4>
    <p class="mb-0 j-alert-message">Message</p>
</div>
<div class="j-success-alert fixed-bottom alert alert-success" role="alert" style="display: none;">
    <h4 class="alert-heading j-alert-title">Success!</h4>
    <p class="mb-0 j-alert-message">Message</p>
</div>